examples/Object Detection.json
[{"id":"a2e68203.7be26","type":"tensorflowCoco","z":"d0cece46.87ac6","name":"","model":"","x":510,"y":1160,"wires":[["f7c2654b.8582b8","92bee663.a421b8","19ca5cc7.3b49d3"]]},{"id":"f7c2654b.8582b8","type":"debug","z":"d0cece46.87ac6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1200,"wires":[]},{"id":"92bee663.a421b8","type":"debug","z":"d0cece46.87ac6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"classes","targetType":"msg","x":810,"y":1240,"wires":[]},{"id":"69f3ad28.a4b994","type":"base64","z":"d0cece46.87ac6","name":"","action":"str","property":"payload","x":500,"y":1100,"wires":[["a4ad37b6.b74438"]]},{"id":"a4ad37b6.b74438","type":"template","z":"d0cece46.87ac6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":640,"y":1100,"wires":[["b54432f0.8059a"]]},{"id":"b54432f0.8059a","type":"ui_template","z":"d0cece46.87ac6","group":"aef761dd.7e9dd","name":"","order":2,"width":7,"height":5,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":1100,"wires":[[]]},{"id":"19ca5cc7.3b49d3","type":"ui_table","z":"d0cece46.87ac6","group":"aef761dd.7e9dd","name":"","order":15,"width":9,"height":3,"columns":[],"outputs":0,"cts":false,"x":790,"y":1160,"wires":[]},{"id":"dd9cd04b.d370a","type":"http request","z":"d0cece46.87ac6","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://loremflickr.com/320/240/sport","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1100,"wires":[["a2e68203.7be26","69f3ad28.a4b994"]]},{"id":"9c31f01c.dd7c4","type":"ui_button","z":"d0cece46.87ac6","name":"","group":"aef761dd.7e9dd","order":13,"width":7,"height":1,"passthru":false,"label":"New Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1100,"wires":[["dd9cd04b.d370a"]]},{"id":"aef761dd.7e9dd","type":"ui_group","z":"","name":"Object detection","tab":"3dce94d.cb4316c","disp":true,"width":"9","collapse":false},{"id":"3dce94d.cb4316c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]

